---
---

<div
  class="ua-panel"
  style="position:relative;top:5px;left:0;width:285px;"
>
  <div class="ua-toolbar">
    <img
      src="/images/xbutton.png"
      alt="close"
      style="position:relative;margin-top:-1.5%;left:-7px;float:left;height:24px;width:auto;z-index:100;"
    />
    <span
      style="position:relative;color:#555a61;font-family:var(--font-sf-telegraphic);font-size:24px;letter-spacing:1px;line-height:30px;float:right;z-index:100;"
    >
      STATS
    </span>
  </div>

  <!-- Counter inner box -->
  <div
    class="ua-inner"
    style="height:30px;padding-left:0;padding-right:0;padding-bottom:0;margin-top:40px;"
  >
    <span style="top:-22px;left:10px;font-family:var(--font-aldrich);font-size:12px;color:#9da7b3;position:relative;display:block;">
      your digital ID number
    </span>
    <div style="height:25px;margin:0 auto -8px auto;text-align:center;">
      <span style="color:#9da7b3;font-family:var(--font-aldrich);font-size:12px;">
        [ visitor counter ]
      </span>
    </div>
  </div>

  <!-- Timecode inner box -->
  <div
    class="ua-inner"
    style="padding:3px;margin-top:35px;height:58px;position:relative;"
  >
    <span style="top:-25px;left:7px;font-family:var(--font-aldrich);font-size:12px;color:#9da7b3;position:relative;display:block;">
      timecode infos
    </span>
    <div style="position:absolute;top:10px;width:95%;left:7px;font-family:var(--font-aldrich);font-size:14px;color:#9da7b3;">
      <table style="top:0;margin:0;padding:0;width:100%;">
        <tbody>
          <tr>
            <td style="text-align:left;">Created on :</td>
            <td style="text-align:right;">[July] 31, 2024</td>
          </tr>
          <tr>
            <td style="text-align:left;">Last updated :</td>
            <td style="text-align:right;">[Jun] 28, 2026</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
